# **Connect to the Database**

In [0]:
# We will first load the sql extension into our environment

%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed

%sql sqlite://

'Connected: @None'

# Import Data From a CSV File

In [0]:
# Importing the python libraries that we will need in this notebook

import csv
import pandas as pd

In [0]:
# Loading the first table from a local CSV file

with open('Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv','r') as f:
    Dalberg = pd.read_csv(f, index_col=0, encoding='utf-8')

In [0]:
# Then storing it in an SQL table of our in memory sqlite database

%sql DROP TABLE if EXISTS Dalberg;
%sql PERSIST Dalberg;
# Loading the first table from a local CSV file

with open('Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv','r') as f:
    Dalberg = pd.read_csv(f, index_col=0, encoding='utf-8')

 * sqlite://
Done.
 * sqlite://

#1.Display a list of Sub Counties and their population and areas.

In [0]:
# Display a list of Sub Counties and their population and areas.

%%sql
SELECT SUBCOUNTY_NAME AS 'Sub-County',POP AS 'Population',Area From Dalberg

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591),
 ('PANYANGARA', 65704, 880955930),
 ('RENGEN', 41273, 652744859),
 ('KAABONG  EAST', 42221, 60801942),
 ('KAABONG TOWN COUNCIL', 38857, 13071455),
 ('KAABONG WEST', 41454, 67612362),
 ('KALAPATA', 99203, 223116860),
 ('KAMION', 60070, 1199409465),
 ('KAPEDO', 33951, 304557831),
 ('KATHILE', 56870, 228457417),
 ('KAWALAKOL', 37691, 1742041261),
 ('LOBALANGIT', 22907, 302572789),
 ('LODIKO', 31820, 397700845),
 ('LOLELIA', 100919, 1069331387),
 ('LOYORO', 16608, 1330019236),
 ('NAPORE (KARENGA)', 20394, 309577387),
 ('SIDOK', 24092, 125330583),
 ('ABIM', 14377, 188613057),
 ('ABIM TOWN COUNCIL', 11489, 115941152),
 ('ALEREK', 12573, 1255760525),
 ('LOTUKEI', 18641, 191684465),
 ('MORULEM', 16834, 250364895),
 ('KARITA', 45015, 658008801),
 ('LOROO', 22541, 371970302),
 ('AMUDAT', 30181, 596393139),
 ('AMUDAT TOWN COUNCIL', 4053, 17207110),
 ('KATIKEKILE', 11772, 277451997),
 ('NADUNGET', 42115, 596023780),
 ('TAPAC', 21999, 622266516),
 ('NORTHERN DIVISION', 7161, 2738777),
 ('SOUTHERN DIVISION', 3272, 2121209),
 ('LOREGAE', 26644, 928683431),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 1418, 4673094),
 ('NAMALU', 25905, 553067364),
 ('KAKOMONGOLE', 15960, 312709097),
 ('LOLACHAT', 22801, 642401705),
 ('LORENGEDWAT', 9929, 435714604),
 ('NABILATUK', 27534, 499776866),
 ('IRIIRI', 46979, 1030623258),
 ('LOPEEI', 18815, 790782350),
 ('LORENGECORA', 2503, 118997955),
 ('LOTOME', 17834, 125857565),
 ('MATANY', 29495, 338252511),
 ('NAPAK TOWN COUNCIL', 8010, 150906375),
 ('NGOLERIET', 20790, 158887552),
 ('NYAKWAE', 16470, 769609687),
 ('LOKOPO', 23200, 1794470536),
 ('RUPA', 41493, 2069554899),
 ('MORUITA', 16588, 839293722)]

# 2.Sort the list of districts by total crop area (descending order).

In [0]:
# Sort the list of districts by total crop area (descending order).
%%sql
SELECT DISTRICT_NAME AS 'District Name', SUM(Crop_Area_Ha) AS 'Total Crop Area' From Dalberg
GROUP BY DISTRICT_NAME
ORDER BY SUM(Crop_Area_Ha) DESC;

 * sqlite://
Done.

[('KOTIDO', 53032.64946),
 ('KAABONG', 28121.672534300003),
 ('NAKAPIRIPIRIT', 26372.698485360004),
 ('NAPAK', 22944.296022100003),
 ('MOROTO', 5954.814048168),
 ('AMUDAT', 5765.443717519999),
 ('ABIM', 5470.0683942000005)]

# 3.Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum.

In [0]:
# Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum.
  %%sql
  SELECT DISTRICT_NAME AS 'District',SUBCOUNTY_NAME AS 'Sub-County Name',S_Prod_Tot AS 'Sorghum Production' From Dalberg
  WHERE DISTRICT_NAME = 'MOROTO'
  ORDER BY SUBCOUNTY_NAME ASC;

 * sqlite://
Done.

[('MOROTO', 'KATIKEKILE', 9379.029413),
 ('MOROTO', 'NADUNGET', 321630.539),
 ('MOROTO', 'NORTHERN DIVISION', 17.28125956),
 ('MOROTO', 'RUPA', 227298.5184),
 ('MOROTO', 'SOUTHERN DIVISION', 19.67486547),
 ('MOROTO', 'TAPAC', 49251.66081)]

#4.Compute the total Maize production per District.

In [0]:
# Compute the total Maize production per District.
%%sql
SELECT DISTRICT_NAME AS 'District',SUM(M_Prod_Tot) AS 'Total maize production' From Dalberg
GROUP BY DISTRICT_NAME

 * sqlite://
Done.

[('ABIM', 1922133.1297),
 ('AMUDAT', 3546469.3324990002),
 ('KAABONG', 6990361.6143000005),
 ('KOTIDO', 2010179.0731479998),
 ('MOROTO', 422116.06882464996),
 ('NAKAPIRIPIRIT', 8125156.24546),
 ('NAPAK', 5587379.38888)]

#5.Compute the number of Sub counties where Maize is produced and the total Maize production per District.

In [0]:
# Compute the number of Sub counties where Maize is produced 
%%sql
SELECT COUNT(SUBCOUNTY_NAME) AS 'Sub-counties with maize production' From Dalberg
WHERE M_Prod_Tot > 0

 * sqlite://
Done.

[(51,)]

In [0]:
# Total maize production per district
%%sql
SELECT DISTRICT_NAME AS 'District',SUM(M_Prod_Tot) AS 'Total maize production per district' From Dalberg
GROUP BY DISTRICT_NAME

 * sqlite://
Done.

[('ABIM', 1922133.1297),
 ('AMUDAT', 3546469.3324990002),
 ('KAABONG', 6990361.6143000005),
 ('KOTIDO', 2010179.0731479998),
 ('MOROTO', 422116.06882464996),
 ('NAKAPIRIPIRIT', 8125156.24546),
 ('NAPAK', 5587379.38888)]

# 6.Compute the overall Crop area in all Sub counties where population is over 20000.

In [0]:
# Compute the overall Crop area in all Sub counties where population is over 20000.
%%sql
SELECT SUM(Crop_Area_Ha) AS 'Overall crop area' From Dalberg
WHERE POP > 20000

 * sqlite://
Done.

[(120212.89015529997,)]

# 7.Sort the Maize production in descending order by Districts, only taking into account Sub counties where Maize area is larger than Sorghum area, and display the number of Sub counties per district matching that criteria.

In [0]:
# Sort the Maize production in descending order by Districts
# only taking into account Sub counties where Maize area is larger than Sorghum area
# display the number of Sub counties per district matching that criteria.
%%sql
SELECT SUBCOUNTY_NAME AS 'Sub-County Name' From Dalberg
WHERE M_Area_Ha > S_Area_Ha
GROUP BY SUBCOUNTY_NAME
ORDER BY DISTRICT_NAME DESC;

 * sqlite://
Done.

[('IRIIRI',),
 ('NAPAK TOWN COUNCIL',),
 ('MORUITA',),
 ('NAKAPIRIPIRIT TOWN COUNCIL',),
 ('NAMALU',),
 ('KATIKEKILE',),
 ('NORTHERN DIVISION',),
 ('TAPAC',),
 ('KAMION',),
 ('LOBALANGIT',),
 ('NAPORE (KARENGA)',),
 ('AMUDAT',)]